.input-field-bottom {
  input {
    margin-bottom: 0.75rem;
  }
  .switch-top {
    margin-top: 1.5rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px 10px;
}
.image-wrapper {
  position: relative;
  padding-top: calc(1 / 1 * 100%);
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

@media screen and (max-width: 1000px) {
  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px 10px;
    background-color: red;
  }
}
