.password-meter{
    background-color: blue;
}


.password-meter::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 14px solid whitesmoke;
   
    top: -15px;
    left: 141px;
    /* color: white; */
    
    

    /* Polygon 3 */
    
}